// Typography
h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  @include media(767) {
    font-size: 32px;
    line-height: 36px;
  }
}

// Reset's
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
